@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@300&family=Ubuntu&display=swap');



 * {
  box-sizing: border-box;
  outline: none;
}

html, body, header, footer, nav, main, article, aside, p, h1, h2, h3, h4, h5, h6, blockquote {
  display: block;
  width: 100%;
}
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


/* Centraliza o título e o subtítulo */
h1, h2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

/* Cria os retângulos */
.retangulo {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
}

/* Adiciona estilo às informações dentro dos retângulos */
.endereco, .horas, .telefone {
  font-size: 18px;
  margin-bottom: 10px;
}
.endereco strong, .horas strong, .telefone strong {
  font-weight: bold;
}

/* Define o layout para telas menores */
@media screen and (max-width: 600px) {
  .retangulo {
    width: 100%;
    padding: 10px;
    margin: 5px 15px
  }

}
